# hdcd is controlled via property triggers in init.<platform>.usb.rc
service hdcd /system/bin/hdcd
    class core
    socket hdcd seqpacket 660 system system
    disabled
    seclabel u:r:adbd:s0

on boot
    setprop sys.usb.configfs 0

# Used to disable USB when switching states
on property:sys.usb.config=none && property:sys.usb.configfs=0
    stop hdcd

on property:sys.usb.config=hdc && property:sys.usb.configfs=0
    start hdcd

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on boot && property:persist.sys.usb.config=*
    setprop sys.usb.config ${persist.sys.usb.config}
